a.closeX {
    position: absolute;
    right: 0px; top: 0px; width:20px;
    background-color: #FFF; color: black;
    margin-top:-15px; margin-right:-15px; border-radius: 20px;
    padding-left: 3px; padding-top: 1px;
    cursor:pointer; z-index: -1;
    font-size:16px; font-weight:bold;

}

div.tagBorder {
    border-style: solid;
    border-width: 1px;
}

div.taskMaker{
    width: 465px;
    background: #87cbff;
    padding: 20px;
    margin-left: 5px;
}

section {
     width: 500px;
}

div.leftDone{
    padding: 20px;
    width: 85%;
    height: 70px;
    background: #ffa798;
    float: left;
}

div.rightDone{
    margin-left: 85%;
    height: 30px;
    background: #ff5b65;
    padding: 40px;
}

div.leftActive{
    padding: 20px;
    width: 85%;
    height: 70px;
    background: #8bff77;
    float: left;
}

div.rightActive{
    margin-left: 85%;
    height: 30px;
    background: #31ff17;
    padding: 40px;
}

input.checkSelect {
    margin-left: 15px;
    height:20px;
    vertical-align:middle;
}

input.tagInput {
    margin: 10px;
    width: 250px;
}

textArea.tagInput{
    margin: 10px;
    width: 230px;
    padding:10px;
}

div.title{
    font-weight: bold;
    margin-left:10px;
}

select.actionSelect {
    padding:5px;
    font-size: 20px;
    margin-left:10px;
    margin-right:20px;
}